{% extends "panel/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="h1" style="margin-top:0">Dashboard</div>

  <div hx-get="{% url 'panel:summary_partial' %}" hx-trigger="load" hx-swap="outerHTML" class="card"></div>

  <div class="grid grid-2" style="margin-top:12px">
    <div hx-get="{% url 'panel:activity_partial' %}" hx-trigger="load" hx-swap="outerHTML" class="card"></div>
    <div hx-get="{% url 'panel:alerts_partial' %}" hx-trigger="load" hx-swap="outerHTML" class="card"></div>
  </div>

  <div class="grid grid-2" style="margin-top:12px">
    <div hx-get="{% url 'panel:top_products_partial' %}" hx-trigger="load" hx-swap="outerHTML" class="card"></div>
    <div class="card">
      <h3 class="h2" style="margin:0 0 10px 0;">Buscar</h3>
      <input class="input" id="search" name="q" placeholder="SKU o nombre" hx-get="{% url 'panel:search_results_partial' %}"
             hx-trigger="keyup changed delay:300ms"
             hx-target="#search-results" hx-swap="innerHTML" />
      <div id="search-results" class="muted" style="margin-top:10px"></div>
    </div>
  </div>

  <div class="card" hx-get="{% url 'panel:top_products_partial' %}" hx-trigger="revealed" hx-swap="outerHTML"></div>
  <div class="card" hx-get="{% url 'panel:alerts_partial' %}" hx-trigger="revealed" hx-swap="outerHTML"></div>
  <div class="card" hx-get="{% url 'panel:activity_partial' %}" hx-trigger="revealed" hx-swap="outerHTML"></div>
  <div class="card" hx-get="{% url 'panel:summary_partial' %}" hx-trigger="revealed" hx-swap="outerHTML"></div>

{% endblock %}
